*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #966e4f;
    font-family: 'roboto', sans-serif;
}
body::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) skewX(-15deg);
    width: 20px;
    height: 100%;
    background: #966e4f;
    border-left: 60px solid #eae3d2;
    border-right: 30px solid #eae3d2;
}
.product{
    position: relative;
    width: 1000px;
    min-width: 350px;
    min-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img{
    width: 40%;
    height: 500px;
    background: #fff;
    position: relative;
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}
.tag{
    position: absolute;
    top: 20px;
    left: -10px;
    transform-origin: left;
    transform: rotate(-20deg);
    text-transform: capitalize;
    color: #eae3d2;
    padding: 5px 10px;
    width: 100px;
    font-size: 18px;
    text-align: center;
    background: #292929;
    user-select: none;
}
.product-listing{
    width: 60%;
    min-height: 500px;
    height: auto;
    background: #292929;
    padding: 40px;
    display: flex;
    justify-content: center;
    color: #eae3d2;
}
.name{
    font-family: 'dosis';
    font-size: 70px;
    transform: capitalize;
}
.info{
    font-size: 18px;
    line-height: 30px;
    margin: 50px 0;
}
.price{
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 20px;
}
.btn-and-rating-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
